In [ ]:
#f string

In [1]:
letter = "hey my name is {} and I am from {}"
name = "rohini"
city = "solapur"

print(letter.format(name,city))

hey my name is rohini and I am from solapur

In [2]:
letter = "hey my name is {} and I am from {}"
name = "rohini"
city = "solapur"

print(f"hey my name is {name} and I am from {city}")

hey my name is rohini and I am from solapur

In [3]:
txt = "for only {price:.2f} dollars"                   #.2f gives fraction for 2 decimal
print(txt.format(price = 55.265411))

for only 55.27 dollars

In [4]:
text = "for only {} dollars"
price = 6565.673278
print(f"for only {price:.3f} dollars")

for only 6565.673 dollars

In [5]:
b = 454.5848787
t = f"give me Rs. {b:.2f}"
print(t.format(b))

give me Rs. 454.58

In [6]:
#doc string

In [7]:
def square(a): 
    '''Takes in number a and return square of a'''
    print(a**2)
    
square(6)
print(square.__doc__)                     #comment is a doc string

36
Takes in number a and return square of a

In [8]:
#recursion string

In [9]:
#to print factorial 
#factorial of 5 = 5*4*3*2*1 (5*4!)or(5*factorial(4))
#formula (factorial = n * factorial(n-1))

def factorial(a):
    if (a==0 or a==1):
        return 1
    else:
        return a*factorial(a-1)
    
print(factorial(4))
print(factorial(5))
print(factorial(0))

24
120
1

In [10]:
#fibonacci sequence
#formula:   fn = fn-1 + fn-2

def fibonacci(n):
    if n<0:
        print("Incorrect Input")
    elif n==0:
        return 0
    elif n==1 or n==2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
    
print(fibonacci(6))

8