In [54]:
#lists

lst1 = [1,2,3,4,5,6,7]            #adds one value
lst1.append(8)
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
lst1.insert(5,9)                 #insert value in between elements
print(lst1)

[1, 2, 3, 4, 5, 9, 6, 7, 8]

In [5]:
lst1.extend(["rohini","basit"])     #extend multiple values
print(lst1)

[1, 2, 3, 4, 5, 9, 6, 7, 8, 'rohini', 'basit']

In [6]:
print(lst1.count(10))            #count occurence of specific element

0

In [7]:
print(len(lst1))               #show length of list

11

In [8]:
print(lst1.index("basit"))        #show position of element

10

In [9]:
lst1.pop(7)               #delete last/specific element
print(lst1)

[1, 2, 3, 4, 5, 9, 6, 8, 'rohini', 'basit']

In [10]:
lst1.remove(5)              #remove element
print(lst1)

[1, 2, 3, 4, 9, 6, 8, 'rohini', 'basit']

In [11]:
a=lst1.copy()            #create same list by copying
print(a)

[1, 2, 3, 4, 9, 6, 8, 'rohini', 'basit']

In [12]:
lst1.reverse()            #reverses elements
print(lst1)
a.reverse()
print(a)

['basit', 'rohini', 8, 6, 9, 4, 3, 2, 1]
['basit', 'rohini', 8, 6, 9, 4, 3, 2, 1]

In [13]:
a[4]="Aryan"            
print(a)

['basit', 'rohini', 8, 6, 'Aryan', 4, 3, 2, 1]

In [14]:
print(lst1,a)

['basit', 'rohini', 8, 6, 9, 4, 3, 2, 1] ['basit', 'rohini', 8, 6, 'Aryan', 4, 3, 2, 1]

In [15]:
print(lst1+a)

['basit', 'rohini', 8, 6, 9, 4, 3, 2, 1, 'basit', 'rohini', 8, 6, 'Aryan', 4, 3, 2, 1]

In [16]:
lst2=[43,56,45,76,34,a]
print(lst2)

[43, 56, 45, 76, 34, ['basit', 'rohini', 8, 6, 'Aryan', 4, 3, 2, 1]]

In [17]:
b = [34,64,34,646,6267,17]
b.sort()                          #ascending order
print(b)

[17, 34, 34, 64, 646, 6267]

In [18]:
b.sort(reverse=True)              #descending order
print(b)

[6267, 646, 64, 34, 34, 17]

In [19]:
print(tuple(b))                     #list to tuple

(6267, 646, 64, 34, 34, 17)

In [20]:
b.clear()                    #clear the list
print(b)

[]

In [63]:
g = [3,5,4,6,6,4,8]
print(g[5:7])               #slicing    it gives value from index 5 to 6

[4, 8]

In [21]:
#tuple

In [22]:
tup = (545,24,45,75,878,4578,587,57)
print(tup.count(45))

1

In [23]:
print(tup.index(878))

4

In [24]:
tup1 = (45,24,75,24,144,157)
tup2 = (54787,54,547,78,577,4)
print(tup1,tup2)
print(tup1+tup2)

(45, 24, 75, 24, 144, 157) (54787, 54, 547, 78, 577, 4)
(45, 24, 75, 24, 144, 157, 54787, 54, 547, 78, 577, 4)

In [25]:
print(len(tup1))

6

In [26]:
print(list(tup2))             #tuple to list

[54787, 54, 547, 78, 577, 4]

In [65]:
h = (53,7,4,7,7,4,3)
print(h[3:5])

(7, 7)

In [ ]:
#sets

In [1]:
a = { 24,247,254,5787,57,245,478}
a.add(44)
print(a)

{245, 478, 247, 24, 57, 5787, 44, 254}

In [2]:
print(len(a))

8

In [30]:
lst1 = ["rohini, pallavi, sudha, aryan, sattar"]
tup = ("swaya, basit, shubham, bochya")
print(set(lst1))
print(set(tup))

{'rohini, pallavi, sudha, aryan, sattar'}
{' ', 'h', 'a', 'y', 'w', 'm', 'b', 'o', 's', ',', 'i', 't', 'c', 'u'}

In [34]:
b= {2,4,5,"hey"}
c= {"hello",3,5,3}
b.update(c)
print(b)

{2, 3, 4, 5, 'hey', 'hello'}

In [35]:
b.remove(5)
print(b)

{2, 3, 4, 'hey', 'hello'}

In [44]:
b.discard(2)
print(b)

{3, 4, 'hey', 'hello'}

In [45]:
print(c.clear())

None

In [46]:
b.clear()
print(b)

set()

In [52]:
x = {'r,u,r,g,r,d,g,h,t'}
y = {"g,h,e,v,h,e,t,h,e"}
print(x|y)
print(x.union(y))

{'g,h,e,v,h,e,t,h,e', 'r,u,r,g,r,d,g,h,t'}
{'g,h,e,v,h,e,t,h,e', 'r,u,r,g,r,d,g,h,t'}

In [3]:
x = {'r','o','h','i',}
y = {'r','s','o','k'}
print(x.intersection(y))

{'o', 'r'}

In [53]:
print(x&y)
print(x.intersection(y))
print(x-y)

set()
set()
{'r,u,r,g,r,d,g,h,t'}

In [25]:
cities = {'tokyo', 'berlin', 'helsanki', 'oslo'}
cities2 = {'madrid', 'tokyo', 'oslo'}
cities.intersection_update(cities2)
print(cities)

{'tokyo', 'oslo'}

In [26]:
print(cities.issuperset(cities2))
print(cities.issubset(cities2))

False
True

In [21]:
cities3 = cities.symmetric_difference(cities2)
print(cities3)

cities4 = cities.difference(cities2)
print(cities4)

{'madrid'}
set()

In [22]:
print(cities.isdisjoint(cities2))

False

In [23]:
cities = {'tokyo1', 'berlin', 'helsanki', 'oslo2'}
cities2 = {'madrid', 'tokyo', 'oslo'}
print(cities.isdisjoint(cities2))

True

In [24]:
print(cities.issuperset(cities2))
print(cities.issubset(cities2))

False
False

In [ ]:
#dictonary

In [55]:
d = {1 : 'rohini' , 2 : 'pallavi'}
d[1] = "revati"
print(d)

{1: 'revati', 2: 'pallavi'}

In [57]:
s = {1,2,3,4}
f = "Hi","Hello"
g = dict.fromkeys(s,f)
print(g)

{1: ('Hi', 'Hello'), 2: ('Hi', 'Hello'), 3: ('Hi', 'Hello'), 4: ('Hi', 'Hello')}

In [59]:
h = {1,2,3,4}
r = {"Hi","Hello"}
j = dict.fromkeys(h,r)
print(j)

{1: {'Hi', 'Hello'}, 2: {'Hi', 'Hello'}, 3: {'Hi', 'Hello'}, 4: {'Hi', 'Hello'}}

In [60]:
key = {4,5,34,6}
t = dict.fromkeys(key)
print(t)

{34: None, 4: None, 5: None, 6: None}

In [13]:
info = {'name' : "rohini", 'age' : 19, 'eligible' : "yes"}
print(info)
print(info['name'])
print(info.get('name'))
print(info.keys())
print(info.values())

for key in info:
    print(info.keys())
    
for key, value in info.items():
    print(f"\nvalue corresponding to key is {key} and value is {value}")

{'name': 'rohini', 'age': 19, 'eligible': 'yes'}
rohini
rohini
dict_keys(['name', 'age', 'eligible'])
dict_values(['rohini', 19, 'yes'])
dict_keys(['name', 'age', 'eligible'])
dict_keys(['name', 'age', 'eligible'])
dict_keys(['name', 'age', 'eligible'])

value corresponding to key is name and value is rohini

value corresponding to key is age and value is 19

value corresponding to key is eligible and value is yes

In [14]:
del info['age']
print(info)

del info
print(info)

{'name': 'rohini', 'eligible': 'yes'}

NameError: name 'info' is not defined

In [ ]:
#slicing

In [69]:
s = "good afternoon"
print(s[1:8])
print(s[:9])
print(s[6:])
print(s[:])
print(s[-1:-5])
print(s[-4:-7])
print(s[14:])

ood aft
good afte
fternoon
good afternoon

In [70]:
s.find('good')

0

In [71]:
s.find('afternoon')

5

In [72]:
s.replace('good','better')

'better afternoon'

In [73]:
s.split()

['good', 'afternoon']