In [ ]:
#conditional statements

In [ ]:
#if else condition 

#syntax

#if condition:
    #statements
#elif condition:
    #statements
#else:
    #statements

In [2]:
n = int(input("Enter the number"))
b = int(input("Enter the number"))
if n>b:
    print("n is greater")
else:
    print("b is greater")

Enter the number78
Enter the number87
b is greater

In [3]:
u = int(input("enter the number"))
j = int(input("enter the number"))
area = u*j
perimeter = 2*(u+j)

if u>j:
    print("Area of square is : ",area)
elif u==j:
    print("Perimeter of square is : ",perimeter)
else:
    print("It is not a square")

enter the number98
enter the number67
Area of square is :  6566

In [ ]:
#while statement

#syntax

#initialize
#while condition:
    #statements
    #counter

In [4]:
n = 1
while n<=10:
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

In [5]:
number = int(input ("Enter the number to print the multiplication table: "))      
count = 1          
print ("The Multiplication Table of: ", number) 

while count <= 10:    
    number = number * 1    
    print (number, 'x', count, '=', number * count)    
    count += 1

Enter the number to print the multiplication table: 77
The Multiplication Table of:  77
77 x 1 = 77
77 x 2 = 154
77 x 3 = 231
77 x 4 = 308
77 x 5 = 385
77 x 6 = 462
77 x 7 = 539
77 x 8 = 616
77 x 9 = 693
77 x 10 = 770

In [6]:
n = int(input("The multiplication table of no.= "))
c = 1

while c<=10:
    print(n, 'x', c, '=', n*c)
    c+=1

The multiplication table of no.= 99
99 x 1 = 99
99 x 2 = 198
99 x 3 = 297
99 x 4 = 396
99 x 5 = 495
99 x 6 = 594
99 x 7 = 693
99 x 8 = 792
99 x 9 = 891
99 x 10 = 990

In [1]:
n = int(input("The multiplication table of no.= "))
c = 1                               #start multiplication from no. 1

while c<=10:
    print(n, 'x', c, '=', n*c)
    c-=99                          #infinity loop for table starts with diff. of -99

The multiplication table of no.= 76

In [ ]:
#for loop

#syntax

#for i in range(start, stop, step):
    #statements

In [7]:
for i in range(3,7):
    print(i)

3
4
5
6

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [11]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [15]:
a = int(input("Table of= "))
for b in range(1,11):
    print(a, 'x', b, '=', a*b)

Table of= 88
88 x 1 = 88
88 x 2 = 176
88 x 3 = 264
88 x 4 = 352
88 x 5 = 440
88 x 6 = 528
88 x 7 = 616
88 x 8 = 704
88 x 9 = 792
88 x 10 = 880

In [17]:
a = int(input("Table of= "))
for b in range(1,21):
    print(f"{a, 'x', b, '=', a*b}        {a, 'x', b, '=', a*b}")            #f string method

Table of= 55
(55, 'x', 1, '=', 55)        (55, 'x', 1, '=', 55)
(55, 'x', 2, '=', 110)        (55, 'x', 2, '=', 110)
(55, 'x', 3, '=', 165)        (55, 'x', 3, '=', 165)
(55, 'x', 4, '=', 220)        (55, 'x', 4, '=', 220)
(55, 'x', 5, '=', 275)        (55, 'x', 5, '=', 275)
(55, 'x', 6, '=', 330)        (55, 'x', 6, '=', 330)
(55, 'x', 7, '=', 385)        (55, 'x', 7, '=', 385)
(55, 'x', 8, '=', 440)        (55, 'x', 8, '=', 440)
(55, 'x', 9, '=', 495)        (55, 'x', 9, '=', 495)
(55, 'x', 10, '=', 550)        (55, 'x', 10, '=', 550)
(55, 'x', 11, '=', 605)        (55, 'x', 11, '=', 605)
(55, 'x', 12, '=', 660)        (55, 'x', 12, '=', 660)
(55, 'x', 13, '=', 715)        (55, 'x', 13, '=', 715)
(55, 'x', 14, '=', 770)        (55, 'x', 14, '=', 770)
(55, 'x', 15, '=', 825)        (55, 'x', 15, '=', 825)
(55, 'x', 16, '=', 880)        (55, 'x', 16, '=', 880)
(55, 'x', 17, '=', 935)        (55, 'x', 17, '=', 935)
(55, 'x', 18, '=', 990)        (55, 'x', 18, '=', 990)
(55, 'x', 19, '=', 1045)        (55, 'x', 19, '=', 1045)
(55, 'x', 20, '=', 1100)        (55, 'x', 20, '=', 1100)

In [22]:
#use break

for c in "hello my name is rohini":
    if c=="a":
        break
    print(c)

h
e
l
l
o

m
y

n

In [23]:
#continue

for d in "Hey good morning":
    if d=="o":
        continue
    print(d)

H
e
y

g
d

m
r
n
i
n
g

In [ ]:
#else in loop

In [1]:
for i in range(5):
    print(i)
else:
    print("sorry no i")

0
1
2
3
4
sorry no i

In [2]:
for i in range(5):
    print(i)
    if i==4:
        break
else:
    print("sorry no i")

0
1
2
3
4

In [3]:
a = 0
while a<=5:
    print(a)
    a = a+1
else:
    print("sorry no a")

0
1
2
3
4
5
sorry no a

In [4]:
a = 0
while a<=5:
    print(a)
    a = a+1
    if a==3:
        continue
else:
    print("sorry no a")

0
1
2
3
4
5
sorry no a

In [5]:
a = 0
while a<=5:
    print(a)
    a = a+1
    if a==3:
        break
else:
    print("sorry no a")

0
1
2